
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex flex-grow-1 mx-auto justify-content-around">
      {{#each options}}
      <li class="nav-item active">
        <a class="nav-link px-4 py-3" href="#">{{this}}<span class="sr-only">(current)</span></a>
      </li>
      {{/each}}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{#if conected}}
      <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar sesión</button>
      {{else}}
      <button class="btn btn-success my-2 my-sm-0" type="submit">Iniciar sesión</button>
      {{/if}}
    </form>
  </div>
</nav>